section.all-tweets{
  width:100%;
}
article.tweet {
  width: 100%;
  border-style: solid;
  border-width: thick;
  border-radius: 25px;
  color: #111010;
  margin-top: 50px;
  padding: 20px;
   display: flex;
  flex-direction:column;
  
}


article.tweet:hover {
  opacity: 1;
 box-shadow: 5px 10px 8px 10px #888888;
}

article.tweet header{
  width:100%;
  height: 75px;
  font-size: 35px;
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 10px;
  background-color:#f4f1ec;
}

article.tweet footer{
  /* width: 100%; */
  border-top-style: solid;
  padding-top: 0.5em ;
  display: flex;
  justify-content: space-between;
  box-sizing:border-box;
  align-items: center;
  font-size: 25px;
  flex-direction: row;
  margin-left: 1em;
  margin-right: 1em;
}


article.tweet footer .fa-flag:hover {
  color: #deae68;
}
article.tweet footer .fa-heart:hover {
  color: #deae68;
}
article.tweet footer .fa-retweet:hover {
  color: #deae68;
}
